.home-page {
    width: 90%;
    margin: 0 auto;
}
.home-page--img {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    gap: 20px;
    overflow-x: scroll;
    cursor: pointer;
}
h1 {
    text-align: center;
    margin-bottom: 0;
}
p:hover{
    padding-top: 10px;
    font-size: 30px;
    color: yellow;
    cursor: pointer;
}
.home-page-img-image {
    height: 350px;
    object-fit: contain;
}
