.trendingPreview-container {
    width: 90%;
    margin: 0 auto;
}
h1:hover {
    color: yellow;
    cursor: pointer;
}
.trendingPreview-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}
.trendingPreview-btn {
    width: 120px;
    padding: 5px;
    border-radius: 20px;
    font-size: 14px;
    color: brown;
    background-color: yellow;
    cursor: pointer;
}
.trendingPreview-btn:hover {
    color: yellow;
    background-color: #cb7169;
}
.movie-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    gap: 20px;
    overflow-x: scroll;
}
.movie-container-img {
    height: 350px;
    margin-top: 10px;
    cursor: pointer;
}